* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(5vh + 2em);
}

body {
    margin: 0 1em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #777;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;

    height: calc(5vh + 1em);
    padding-inline: 1em;
    background-color: rgb(185, 225, 240);
}

header {
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;
    border-block-start: 1em solid white;
}

.logo {
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #777;
}

header a:first-of-type {
    margin-inline-start: auto;
}

header a:last-of-type {
    margin-inline-start: 8vw;
}

header a:not(:last-of-type) {
    margin-inline-end: 2em;
}

main {
    padding-inline: 1em;
}

.sticky-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sticky-container .text {
    flex-basis: 60%;
    text-align: justify;
}

.sticky-container .text p {
    padding-block-end: 2em;
    margin-block-start: 1em;
    border-block-end: 1px solid lightgrey;
}

.sticky-container .text p {
    margin-block-start: 5px;
}

.sticky-container .text p:last-of-type {
    margin-block-end: 5px;
}

.sticky-card {
    position: sticky;
    top: 15vh;

    display: flex;
    flex-direction: column;
    
    flex-basis: 240px;
    
    height: 260px;
    margin: 5px auto calc(5px + 2em);
    padding: 1em;

    border: 1px solid rgb(226, 226, 226);
    box-shadow: 1px 1px 5px #cfcfcf;
    border-radius: 6px;
}

.sticky-card h2 {
    margin-block-start: 0;
    margin-block-end: .5em;
    color:rgb(146, 146, 146);
    text-align: justify;
}

.sticky-card h3, .modal h3 {
    margin-block-start: 0;
    margin-block-end: .5em;
    text-transform: uppercase;
    font-size: .75em;
    color:rgb(192, 192, 192);
    letter-spacing: 1px;
    font-weight: 100;
}

.sticky-card p, .modal p {
    margin-block-start: 2em;
    color:rgb(192, 192, 192);
    letter-spacing: 1px;
    font-weight: 100;
    font-size: .82em;
    text-align: justify;

}

.sticky-card button, .modal .btn-buy {
    height: 2.5em;
    margin-block-start: auto;

    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    border-radius: 8px;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 6px #cfcfcf;

    background-color: rgb(255, 195, 83);
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    border-block-end: 1em solid white;
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgb(177, 177, 177, .6);
    
    opacity: 0;
    transition: opacity .8s ease-out;
}

.modal {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    z-index: -1;
    
    width: 300px;
    height: 300px;
    padding: 1em;
    
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: 3px 3px 6px rgb(173 173 173);
    
    opacity: 0;
    transition: opacity .8s ease-out;
}

.modal .btn-close{
    display: grid;
    place-items: center;

    position: absolute;
    top: -9px;
    right: -9px;

    border-radius: 50%;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 6px rgb(173 173 173);

    line-height: 1.4;
    padding-inline-start: 7px;
}

.opaque {
    opacity: 1;
    z-index: 10;
}